[2015-08-14 01:36] roguetech opened #4 "Suse Support"
Hey, any support coming for suse (sles) ??

[2015-08-25 11:43] sgnl05 commented on #4
No plans at the moment as I don't use suse/sles. Please feel free to send a pull request if you figure out how to add support for it.

[2015-08-25 11:43] #4 closed

[2015-10-14 18:31] ghoneycutt opened #5 "Licensing"
@edestecd @sgnl05 I'm interested in your code but can't use it because there are no licensing terms. Could you add a license? Suggest GPLv3 or Apache v2.

[2015-10-14 18:52] edestecd commented on #5
I prefer GPL-3.0+, but I'll let @sgnl05 ultimately decide, since he started the module...

[2015-10-14 19:14] ghoneycutt commented on #5
I'm not positive, but I think you both need to specify your licensing since you both contributed work.

[2015-10-14 19:32] edestecd commented on #5
Probably,  but if we agree, we can just pick one for the module.

[2015-10-15 22:37] sgnl05 commented on #5
metadata.json already states that the license is Apache-2.0 (which Puppet suggests as default), but I've forgotten to include the LICENCE file. However I don't really have any preferences when it comes to apache or GPL, so if you @edestecd have strong feelings for GPL, then we'll go for that. :)

[2015-10-16 21:40] sgnl05 commented on #5
Changed licence to GPL-3.0+ in metadata.json and added a LICENCE file. This should cover it for both of us, right @edestecd ?

[2015-10-17 03:55] edestecd commented on #5
Looks good to me.

[2015-10-17 13:58] #5 closed

[2016-01-12 22:06] curly8 opened #10 "Could not start Service[sssd]:"
Testing your module on Centos 6. System does not get in convergent state in a single run. It seems that not all the changes have been applied on a sssd.conf during the first Puppet run. Services array is geting default values and not the values defined in a config hash.

(/Stage[main]/Sssd::Config/File[sssd_config_file]/content) -services = nss, pam, autofs
(/Stage[main]/Sssd::Config/File[sssd_con

[2016-01-12 22:12] edestecd commented on #10
Hmm, I have several CentOS 6 nodes and have not experienced this.  My config always goes in first and then starts the service, due this ordering in init.pp:
[code]

[2016-01-12 22:13] edestecd commented on #10
Can you provide a sample of the code you are using to include the main class?
Are you using hiera / PE console / Foreman or simple node definitions?

[2016-01-12 22:19] curly8 commented on #10
I'm using resource like definition. http://pastebin.com/xZq449hZ

[2016-01-12 22:31] edestecd commented on #10
Your example looks pretty similar to mine, except this part:
[code]

Is that correct?  should that block have some other options?

[2016-01-12 22:35] edestecd commented on #10
Other than that I'm not sure...  I may be able to spin up a test box later this eve and play around.
What is your puppet version?  Are you using future parser?

[2016-01-12 22:37] curly8 commented on #10
That's exactly what I need in this block. My only guessing that the problem is with the Ruby and the way it handles a list of hashes here?

[2016-01-12 22:41] edestecd commented on #10
These are puppet hashes, so we should be shielded from the underlying ruby....
Except in the template.  But that does not explain the service starting before the config goes in.

So if you run puppet a second time, it puts in your config and starts the sssd Daemon just fine?
Somehow that scenario rings a bell from when I first started using this module. But I thought it was fixed.
What version of

[2016-01-12 22:46] curly8 commented on #10
The thing is that the config file is created but missing some pieces from the hash, thus preventing the service to start. After 2nd run the file is in place and services starts regularly.
PE2015.2 - everything on default., sssd module  version 0.2.1 from the forge.

[2016-01-12 23:10] edestecd commented on #10
I don't have any PE in my environment :(
I think we need some acceptance tests that use beaker with a PE box.

[2016-01-13 15:26] edestecd commented on #10
closed by pr #11

[2016-01-13 15:27] edestecd commented on #10
closed by pr #11

[2016-01-13 15:27] #10 closed

[2016-01-28 22:02] edestecd opened #14 "Make travis auto deploy to the forge"
It would be nice to have travis ci auto deploy new versions to the forge, whenever we create a new tag.
I have seen a few modules around that do this.  It seems like travis has some fairly easy setup for this.

[2016-01-29 07:37] sgnl05 commented on #14
Yes, that would be nice. I'll look into it, unless you have nice recipe.. ;)

[2016-02-03 12:07] sgnl05 commented on #14
This commit from another module looks interesting: https://github.com/unibet/puppet-forge_server/commit/096b1d31bc8decca309cd8ea72fc3932f02ea77c

Not sure tho how Forge username and password is hashed.

[2016-02-03 13:17] edestecd commented on #14
Yea I saw it in a unibet module as well: https://github.com/unibet/puppet-vagrant
You probably set up the key on the travis site with environment vars etc...
However, puppetforge is not listed here: https://docs.travis-ci.com/user/deployment/

I've seen this before.  I suspect it is the underlying mechanism that travis uses.
https://github.com/travis-ci/dpl#puppet-forge

I wonder if puppetforge ju

[2016-02-03 13:23] edestecd commented on #14
We can probably just follow along with one of the other providers that uses a username/pass...
https://docs.travis-ci.com/user/deployment/appfog

Encrypting the pass is done with the travis tool, available as a gem:
https://blog.travis-ci.com/2013-01-14-new-client/

[2016-06-23 14:51] disconn3ct opened #19 "No option to skip package installation"
We use another module that installs the package but does minimal configuration. Since there is no option to skip package installation, we are getting duplicate resource errors. (Using ensure_packages would solve it without major changes.)

[2016-07-13 16:49] ghoneycutt opened #21 "Module design and v1"
Hi,

I'm interested in using your module and would like to know if you would accept a refactor to remove the anchor and params patterns. The current design needlessly separates out the classes, where each class should encapsulate specific functionality as opposed to just a piece of functionality that is glued together with the anchor pattern. It makes the code harder to read and understand. If you

[2016-07-13 22:50] #21 closed

[2016-09-02 15:19] asifiqbal opened #23 "kerberos support"
Is there a kerberos support in the road map? I am looking for a sssd + kerberos only for ubuntu and no ldap

[2016-09-02 20:00] sgnl05 commented on #23
No, but there are several kerberos modules on the forge. These should work nicely along side with this module.

[2016-09-02 20:00] #23 closed

[2016-09-02 20:05] sgnl05 commented on #19
Wouldn't it be sufficient to include sssd::config and sssd::service instead of the main class?

[2016-09-23 17:56] disconn3ct commented on #19
Maybe I'm missing something (not the first time by far) but doesn't that make it impossible to override sssd::params without switching over to Hiera?

[2016-10-07 16:04] tdevelioglu commented on #19
Better let the sssd::config and sssd:service stay private (preferably even unparameterized) and let only the public interface(s) allow configuring the parameters of the module.

I propose adding a $package_manage flag (default: true) to the main class that can prevent declaring the package resource.

[2016-11-01 11:49] dannygoulder commented on #19
#26

[2016-11-05 12:02] sgnl05 commented on #19
Thanks @dannygoulder !

[2016-11-05 12:02] #19 closed

[2016-11-13 09:18] sgnl05 commented on #14
I've made a branch named autodeploy with the changes I think is necessary (based on https://github.com/voxpupuli/puppet-zabbix/blob/master/.travis.yml). If it looks right to you, can you please merge it and test a deploy next time we have something to release?

[2016-11-14 13:30] edestecd commented on #14
What does this option do?
https://github.com/voxpupuli/puppet-zabbix/blob/master/.travis.yml#L42

That is the only thing that does not make sense to me...

[2016-11-14 13:50] edestecd commented on #14
Its a branch here for travis deploy:
https://github.com/travis-ci/dpl/commits/ha-bug-puppet-forge

But it looks like that has been merged into master and tagged for release already, so we probably do not need it any longer.

[2016-11-14 13:56] edestecd commented on #14
I have concerns about the matrix.
I'm honestly still trying to understand the new matrix format.
I think this is in an ```include:```
https://github.com/voxpupuli/puppet-zabbix/blob/master/.travis.yml#L29

However ours is in an exclude.
Our travis matrix is now different in format that puppet-zabbix, from the last merge.

[2016-11-14 19:13] ghoneycutt commented on #14
@edestecd The new matrix tests every supported version combination of ruby and puppet and the excludes are for none incompatibilities. This method actually tests all the platforms that we say are supported as opposed the zabbix example that tests only a few cases.

[2016-11-14 19:46] edestecd commented on #14
@ghoneycutt yup it seems more complete to me. I wasn't trying to imply it was better or worse, just that we can't exactly copy the zabbix example for auto deploy, since that matrix is different.  Do you know of an auto deploy (to the forge) example that uses this matrix format?  That would be most helpful ;)

[2016-11-14 19:51] edestecd commented on #14
Perhaps just moving this:
https://github.com/sgnl05/sgnl05-sssd/pull/28/files#diff-354f30a63fb0907d4ad57269548329e3R72

To the above matrix:
https://github.com/sgnl05/sgnl05-sssd/blob/3317f195071f14b665efef0cb472a0f9e0b6ad73/.travis.yml#L10

Would do the trick.  But it seems like this may run more than once on each ruby, so we probably still need to exclude ruby 1.9.3 and 2.1.0 in the exclude.

[2016-11-15 08:07] sgnl05 commented on #14
I updated .travis.yml with what you suggested @edestecd

I also did a search for any .travis.yml file on github that uses matrix exclude and puppetlabs as provider for deploy. Among many, these two came up:
https://github.com/hercules-team/augeasproviders_sysctl/blob/master/.travis.yml
https://github.com/maestrodev/puppet-perforce/blob/master/.travis.yml

If both examples above work, then I believ

[2016-11-15 09:37] sgnl05 commented on #14
It tried to deploy multiple times, but I think I got it right this time after adding some excludes.

[2016-11-17 12:29] edestecd commented on #14
I like this:
https://github.com/hercules-team/augeasproviders_sysctl/blob/master/.travis.yml#L95

Doing the two excludes is effectively the same, but more verbose...

[2016-11-17 12:39] edestecd commented on #14
Very cool, I think we can merge now?

[2016-11-17 13:08] sgnl05 commented on #14
I tried adding "rvm: 1.9.3" through https://github.com/sgnl05/sgnl05-sssd/pull/28/commits/4d800d1870f41a95137439786dd9711713bc0082, but it had no effect..

[2016-11-17 13:12] edestecd commented on #14
Hmm, maybe they are doing something else then...
As long as it works ;)  Thanks for the effort.  I'll be doing this to my other modules soon and now I have a great example!

[2016-11-17 13:25] sgnl05 commented on #14
Ah, I figured out the "rvm:"-thing. I expected it to work the same way as an exclude would do. If you look at https://travis-ci.org/hercules-team/augeasproviders_sysctl/builds/171974370, you'll see build jobs with "FORGE_PUBLISH=true" for all Ruby versions. However, deploy is only triggered on the job with version 1.9.3. The other two get this message: "Skipping a deployment with the puppetforge p

[2016-11-17 13:26] sgnl05 commented on #14
So using exclude gives us less useless build jobs. ;)

[2016-11-17 13:30] edestecd commented on #14
OK I see, it does the build, but bails.  I agree, that seems less useful.

[2016-11-30 12:01] m4ge opened #29 "messagebus service related error"
When provisioning a CentOS 7.2 vagrant box I get the following error:
[code]
Running yum update on the box seem to fix the problem and so does setting
[code]
After looking around I have stumbled upon this: https://bugzilla.redhat.com/show_bug.cgi?id=1184960. Could that be the cause of my problem? If so, should the default value for service_dependencies be ['dbus'] rather than ['messagebus']? Is it

[2016-11-30 12:04] ndelic0 commented on #29
@m4ge try setting service_dependencies = [] for RH7 - messagebus daemon is nothing but the symlink to a dbus

[2016-11-30 12:08] m4ge commented on #29
@ndelic0 should the default setting for service_dependencies for RHEL7 be []? This would remove the need to specify custom options and the module would work out of the box. I'm happy to submit the patch for that if that is the solution to the issue

[2016-11-30 12:13] ndelic0 commented on #29
@m4ge service_dependencies is already set as class param - basically module already allows one set this in Hiera.  It would be nice to have it working out of the box though.

[2016-11-30 12:14] m4ge commented on #29
@ndelic0 I shall submit a pull request to that accord

[2016-11-30 12:17] ndelic0 commented on #29
@m4ge thank you, thank you

[2017-01-17 15:16] robert4man opened #30 "Service restart issue"
When upgrading from v0.3.0 -> v0.4.0 I encountered a couple odd issues. It looks like sssd.conf received some extra line spacing to separate the sections (which is fine) resulting in a restart of messagebus, sssd and oddjobd (which also seems fine). Unfortunately it resulted in a couple error conditions for RHEL7:

  1. ssh logins were suddenly very slow, i.e. >25 seconds to connect. Sudo commands

[2017-01-17 15:44] robert4man commented on #30
Now that I look and think about this a little more I'm thinking maybe this construct is a little too basic:
class { '::sssd::config': } ~>
class { '::sssd::service': } ->

sssd.conf changes should only trigger sssd service restarts, not everything.

[2017-01-17 18:11] edestecd commented on #30
I can agree with that. The other services were added b/c they were needed by sssd, but they def do not need restarted when config changes happen.

[2017-01-24 00:58] edestecd commented on #14
Did this work for the last release? Can we close this issue?

[2017-01-24 10:46] sgnl05 commented on #14
We implemented this after the last release. So we'll have to test it on the upcoming release.

[2017-01-24 13:52] sgnl05 commented on #14
Worked! https://travis-ci.org/sgnl05/sgnl05-sssd/jobs/194817099

[2017-01-24 13:52] #14 closed

[2017-01-24 13:53] sgnl05 commented on #29
Fixed in  0.4.1

[2017-01-24 13:53] #29 closed

[2017-01-24 13:53] sgnl05 commented on #30
Fixed in  0.4.1

[2017-01-24 13:53] #30 closed

[2017-03-06 20:48] beetlebolt opened #35 "fails to run if home folder has permission 770"
Error: /Stage[main]/Sssd::Config/Exec[authconfig-mkhomedir]: Could not evaluate: Permission denied @ dir_chdir - /home/peter

It's a known issue when home directories won't let root traverse them (execute privileges).
IOW, if the home directory is 755 the sssd module will successfully run but if a home directory has permissions 754 or 750, the (all) users permission will prevent puppet's root user

[2017-04-06 21:30] beetlebolt commented on #35
Good news. This only fails when puppet agent is run via sudo...IOW when a non-root user, who's own home directory has fewer permissions than 755.
This works:
# /opt/puppetlabs/bin/puppet agent -t
This fails:
$ sudo /opt/puppetlabs/bin/puppet agent -t

[2017-05-08 14:26] Heidistein opened #36 "deprication warnings"
As I am cleaning my puppet code, I came across deprecation warnings, emitted by stdlib, originating from sssd.
/etc/puppetlabs/code/environments/test/modules/sssd/manifests/init.pp line 73 calls 'validate_re', which is depricated: https://github.com/puppetlabs/puppetlabs-stdlib#validate_re

Could be "fixed" using something like:
validate_legacy("Optional[String]", "validate_re", "Value to be valid

[2017-05-08 16:13] ghoneycutt opened #37 "Cut v1"
This module has been stable for awhile, could we have a version 1.0.0 release?

[2017-05-08 16:14] ghoneycutt commented on #36
In issue #37 I asked for a v1.0.0 release. After that, suggest a v2.0.0 that drops support for Puppet v3 and implements data types and related Puppet v4 only features, which will stop these deprecation warnings.

[2017-05-08 16:15] edestecd commented on #36
At some point we need to depreciate puppet 3 support.
It was EOL Dec 2016, so any time now.

[2017-05-08 16:16] edestecd commented on #37
http://semver.org/#how-do-i-know-when-to-release-100

[2017-05-09 08:20] sgnl05 commented on #37
I'm having a rather busy week. :/

Can one of you please update the changelog with recent changes and prepare the v1 release?

[2017-05-09 13:46] ghoneycutt commented on #37
Created in PR #38

[2017-05-11 12:55] #37 closed

[2017-05-18 19:23] #36 closed

[2017-09-01 07:11] tux-o-matic opened #43 "No service refresh after conf change"
Why is there no notify or subscribe link between the File resource for sssd.conf and the Service sssd?

[2017-09-01 11:36] edestecd commented on #43
That is handled here:
https://github.com/sgnl05/sgnl05-sssd/blob/master/manifests/init.pp#L77

The ~> says to notify and services in the `class { '::sssd::service': }`

[2017-09-01 11:51] #43 closed

[2017-09-04 06:24] tux-o-matic commented on #43
I'd say that defines order. Not proper subscription or notify.
Try debugging a config change and there won't be any service refresh triggered.

[2017-09-04 22:55] edestecd commented on #43
-> defines just order (require)
~> defines notify/subscribe

https://docs.puppet.com/puppet/5.1/lang_relationships.html#syntax-chaining-arrows

[2017-09-05 07:22] tux-o-matic commented on #43
Yes, on resource. Here on classes it's not the same behaviour.
If it were, I'd expect the logs to show a refresh event but it doesn't.

[2017-09-05 10:01] edestecd commented on #43
That has been working on classes for quite some time and there are many examples of modules that use this pattern. What version of puppet are you using? Perhaps it is broken or depreciated in some version?

[2017-09-05 10:42] tux-o-matic commented on #43
Witnessed that in 4.10. Change to sssd.conf did not lead to a service refresh.

[2017-09-11 16:05] benkevan opened #47 "[Request] - Deploy newest version to Puppet Forge"
The current master support SUSE, and Puppet versions greater than 5, which is needed in my environment.

Please upload the newest build to puppet forge, so I can install.

Thank you. 💃

[2017-09-14 10:50] sgnl05 commented on #47
https://forge.puppet.com/sgnl05/sssd/2.1.0

[2017-09-14 10:50] #47 closed

[2017-09-20 13:25] ytra opened #48 "dbus package not installed"
Target OS: RHEL6

==> wls: Debug: Executing: '/bin/rpm -q sssd --nosignature --nodigest --qf '%{NAME} %|EPOCH?{%{EPOCH}}:{0}| %{VERSION} %{RELEASE} %{ARCH}\n''
==> wls: Debug: Executing: '/usr/bin/yum -d 0 -e 0 -y list sssd'
==> wls: Debug: Package[sssd](provider=yum): Ensuring => present
==> wls: Debug: Executing: '/usr/bin/yum -d 0 -e 0 -y install sssd'
==> wls: Notice: /Stage[main]/Sssd::Instal

[2017-09-25 12:39] tomnowak opened #50 "Module does not work on OracleLinux"
I get the following error when running on OracleLinux:

Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Error while evaluating a Function Call, operatingsystem is <OracleLinux> which is not supported at /etc/puppetlabs/code/environments/production/modules/sssd/manifests/params.

[2017-09-25 14:10] ghoneycutt commented on #50
The case statement for EL should be redone to not use $operatingsystem.

[code]

[2017-10-04 11:42] tux-o-matic commented on #43
Can we re-open this issue and have this relation changed to really trigger a service refresh,

[2017-10-06 02:40] dreadmin opened #53 "v2.1.0 killed support for CloudLinux"
https://github.com/sgnl05/sgnl05-sssd/blob/bdb0d967c41761e3f202f4026090ae76f134ffcb/manifests/params.pp#L45

CloudLinux for all intents and purposes can be treated the same as CentOS for this module. Any chance of getting it added into that case statement alongside CentOS?

[2017-10-12 11:48] KoffieNu opened #54 "v0.3.0 & 2.1.0: [RHEL 7.3] fails on create config file"
When module is used on a system without sssd installed, it tries to create config before installing sssd (and failing, as /etc/sssd dir is absent)

Error: /Stage[main]/Sssd::Config/File[sssd.conf]/ensure: change from absent to present failed: Could not set 'present' on ensure: No such file or directory @ dir_s_mkdir

Work-around: create dir /etc/sssd or ensure it's existance in another, earlier us

[2017-10-12 18:59] sgnl05 commented on #50
Will be fixed in next release. Thanks @ghoneycutt !

[2017-10-12 18:59] #50 closed

[2017-10-12 19:04] sgnl05 commented on #53
Sure :) Should be fixed with #51.

[2017-10-12 19:04] #53 closed

[2017-10-13 21:03] ghoneycutt commented on #35
Thanks for reporting this. Closing as this is an issue with Puppet itself and not the module.

[2017-10-13 21:03] #35 closed

[2017-11-03 09:20] tomnowak opened #57 "2.2.0 version no longer works on Ubuntu"
Hi,
The latest version 2.2.0 works again on Oracle Linux :) but is broken on Ubuntu now:(

Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Error while evaluating a Function Call, osfamily Debian's os.release.major is <14.04> and must be 7 or 8 for Debian and 14 or 16 for Ubuntu

[2017-11-03 14:12] ghoneycutt commented on #57
Thanks for letting us know! Could you please post the output of `facter`.

[2017-11-03 14:30] tomnowak commented on #57
Ubuntu 14.04
# facter facterversion os ruby
facterversion => 3.6.7
os => {
  architecture => "amd64",
  distro => {
    codename => "trusty",
    description => "Ubuntu 14.04.5 LTS",
    id => "Ubuntu",
    release => {
      full => "14.04",
      major => "14.04"
    }
  },
  family => "Debian",
  hardware => "x86_64",
  name => "Ubuntu",
  release => {
    full => "14.04",
    major => "14.04"

[2017-11-03 15:22] ghoneycutt commented on #57
I think that's a bug in facter. It is showing os.family.major as 14.04 instead of 14. I'll dig into this more.

[2017-11-03 15:26] ghoneycutt commented on #57
@tomnowak Could you try facter v3.9.3 and see if os.family.major still returns 14.04 ?

[2017-11-03 15:36] ghoneycutt commented on #57
Created https://tickets.puppetlabs.com/browse/FACT-1794

[2017-11-03 16:19] tomnowak commented on #57
I think that always was like this on Ubuntu:

https://puppet.com/docs/facter/3.9/core_facts.html#operatingsystemmajrelease
Caveats:
    Linux: for Ubuntu, the major release is X.Y (e.g. “10.4”).

[2017-11-03 16:49] ghoneycutt commented on #57
Ugh, that sucks. So if you run 16.10 instead of using the same data as 16.04, it would fail.

[2017-11-03 16:51] ghoneycutt commented on #57
@tomnowak could you post the full output of facter, minus any identifiable info like IP and MAC.

[2017-11-07 10:43] ytra opened #58 "data_provider hiera in metadata.json deprecated in puppet >= 4"
Warning: Defining "data_provider": "hiera" in metadata.json is deprecated. It is ignored since a 'hiera.yaml' with version >= 5 is present
(in /etc/puppetlabs/code/environments/production/modules/sssd/metadata.json)

Removal of the data_provider on line 16 of metadata.json is the only thing that needs to be done

[2017-11-07 14:29] ghoneycutt commented on #58
Thank you! Where do you see this warning?

[2017-11-09 11:31] tomnowak commented on #57
Attached are outputs of facter from native and aio puppet versions on Ubuntu 16.04

[xenial-aio-facter_3.6.8.txt](https://github.com/sgnl05/sgnl05-sssd/files/1457427/xenial-aio-facter_3.6.8.txt)
[xenial-native-facter_2.4.6.txt](https://github.com/sgnl05/sgnl05-sssd/files/1457428/xenial-native-facter_2.4.6.txt)

[2017-11-10 21:14] ghoneycutt commented on #57
Fix released in 2.2.1

[2017-11-10 21:14] #57 closed

[2017-11-13 09:32] tomnowak opened #60 "2.2.1 no longer works on Debian 9"
Hi,
  The latest version 2.2.1 got fixed on Ubuntu 14.04 and 16.04, but not longer works on my Debian 9 machines:(

  I think for Debian family OSes it will be easier just ignore the OS release, as I think sssd is part of all currently supported Debian and Ubuntu releases.

Regards,
Tomasz

[2017-11-13 10:46] mUbsta commented on #58
As per the error this warning occurs when hiera.yaml is set to 5 (or above).

See [https://puppet.com/docs/puppet/5.3/modules_metadata.html#deprecated-keys](url)

[2017-11-13 15:25] ghoneycutt commented on #60
We don't support Debian 9 yet, though would certainly like to.

If you add `'9'` to the array at the end of this line https://github.com/sgnl05/sgnl05-sssd/blob/master/manifests/init.pp#L101 does it work as expected?

[2017-11-13 15:28] ghoneycutt commented on #58
Thanks @mUbsta

Submitting a fix for this in PR #61

[2017-11-13 15:29] ghoneycutt commented on #48
@ytra is this still an issue using the latest version of the module?

[2017-11-13 15:30] ghoneycutt commented on #54
@KoffieNu is this still the case using the latest (2.2.1) version of this module?

[2017-11-13 15:36] ghoneycutt commented on #58
Released in 2.2.2

[2017-11-13 15:36] #58 closed

[2017-11-13 15:45] tomnowak commented on #60
I can confirm that adding '9' to the array of supported Debian releases fixes the issue.

[2017-11-13 18:18] ghoneycutt commented on #60
Created PR #62 to add Debian 9 support

[2017-11-13 18:21] #60 closed

[2017-11-13 18:23] ghoneycutt commented on #60
Released in 2.3.0

[2017-12-04 20:32] v4ld3r5 opened #63 "[SLES] common-*-pc files get always re-created"
Hi,
We are using this module together with `ghoneycutt/pam` and it works fine, but it keeps constantly changing the `common-*-pc` files. It's annoying cause happens on every `puppet agent` run. It always applies the same changes.

Looks like it's just after:
[code]

I will have a look tomorrow at the code and see if I can help troubleshooting.
Best regards,

[2017-12-04 20:38] ghoneycutt commented on #63
Thanks @v4ld3r5

What platform(s) do you see this on?

Are you using the latest version of this module?

What version of Puppet are you using?

[2017-12-04 20:43] v4ld3r5 commented on #63
Hi,
It is happening on SLES11 and 12.
Yep we are using version 2.3.0, and for Puppet we are on version 5:

[code]

Best regards

[2017-12-04 20:52] ghoneycutt commented on #63
Perhaps you have pam configured to not have the session lines that sssd is looking for

https://github.com/sgnl05/sgnl05-sssd/blob/master/manifests/init.pp#L203-L205

[2017-12-07 14:08] v4ld3r5 commented on #63
Hi,
Sorry for the delay, I've verified and the issue is on our end. Didn't notice until know that we were using a deprecated option:

[code]

In the past we were managing the pam configs as regular file resources and the issue never popped up until now.  Plus another issue is we weren't setting up "pam_sss" at session level.

Now it works as expected. I will close this.
Thanks for the help

[2017-12-07 14:08] #63 closed

[2017-12-07 15:42] ghoneycutt commented on #54
In our current version the package comes before the sssd.conf file, so this should no longer be an issue. Please re-open if it is and we'll be happy to help!

[2017-12-07 15:42] #54 closed

[2017-12-07 15:43] ghoneycutt commented on #48
Please re-open if this is still an issue with our latest version and we'll be happy to help.

[2017-12-07 15:43] #48 closed

[2018-03-01 07:22] rmueck opened #71 "Using Hiera - HowTo"
Hello,
I want to use the Hiera way with this module, so i created a hiera yaml for my needs. But i am unable to use
the data. When i use `include sssd` only the default data from the module is used. It would be great if someone can help me!
(I have to use the 1.x branch with Puppet 3.8.7)

[2018-03-01 13:01] edestecd commented on #71
Can you paste in specific code examples of what you are using?
Have you configured hiera properly?  https://puppet.com/docs/puppet/5.2/hiera_config_yaml_5.html

What version or hiera and puppet are you using?

[2018-03-01 15:03] rmueck commented on #71
Hello,
we are using Puppet v3.8.7 and Hiera v1.3.1.
A lookup on command line

`hiera -d sssd::config  role=Hadoop stage_os=dev domain=my.domain.com environment=dev`

is working well. The corresponding [hiera file](https://gist.github.com/rmueck/3a37502fbd766b8bea0460e214e90027) delivers the correct config hash.

I expected to use this code (snippet)

[code]
But this only uses the default from para

[2018-03-01 15:33] edestecd commented on #71
where are you placing the hiera file you linked above?

[2018-03-01 16:08] rmueck commented on #71
It is placed in  /etc/puppet/environments/dev/hieradata/role/Hadoop/dev/my.domain.com/config.yaml
Configuration in /etc/puppet/hiera.yaml  is working...as mentioned in my initial post.
Thank you!

[2018-03-01 17:05] ghoneycutt commented on #71
Likely your hiera.yaml has a typo. Also if you modified it, you would need to restart the puppet master. Closing this since it is not an issue with the module. If you still need assistance, suggest using IRC, Slack or the puppet-users mailing list. Good luck and hope you get this fixed quick!

[2018-03-01 17:05] #71 closed

[2018-03-02 07:35] rmueck commented on #71
Thank you ghoneycut for the hint! I simply forgot to restart the puppet master. It is working like a charm!

[2019-01-07 16:36] schlitzered opened #76 "Please update Package dependencies"
please upgrade package dependencies for Puppet 6 support.

this means allowing stdlib 6.x.x

[2019-01-07 16:44] ghoneycutt commented on #76
I believe you mean stdlib v5 which supports Puppet 6. I'll take a look.

[2019-01-07 16:52] #76 closed

[2019-01-07 16:53] ghoneycutt commented on #76
Released in v2.10.0

[2019-01-07 17:14] schlitzered commented on #76
thx!

[2019-02-02 10:26] mergwyn opened #81 "Package[libpam-runtime] is already declared"
I got the error:
`Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Function Call, Duplicate declaration: Package[libpam-runtime] is already declared at (file: /etc/puppetlabs/code/environments/production/modules/webmin/manifests/install.pp, line: 5); cannot redeclare (file: /etc/puppetlabs/code/environments/production/modu

[2019-02-07 09:45] mxey opened #82 "Package sssd-32bit is not available on 32 bit Suse"
The module always tries to install the package `sssd-32bit` on Suse systems. But the package only exists on 64-bit systems, not on 32-bit systems. Leads to this error:

`change from absent to present failed: Execution of '/usr/bin/zypper --quiet install --auto-agree-with-licenses --no-confirm --name sssd-32bit' returned 104: Package 'sssd-32bit' not found`

[2019-02-07 11:21] ghoneycutt commented on #82
what fact from facter can be used to differentiate 32bit systems?

[2019-02-07 11:32] mxey commented on #82
`os.architecture`

[2019-02-07 12:01] ghoneycutt commented on #82
What's the value?

[2019-02-07 12:03] ghoneycutt commented on #82
Which version(s) of Suse are you using this on?

[2019-02-07 12:24] mxey commented on #82
i386 in the case of SLES

SLES 11

[2019-02-07 12:33] ghoneycutt commented on #82
Do you have the ability to test SLES 12?

[2019-02-07 12:37] mxey commented on #82
Yes. Let me test your patch and get back to you.

[2019-02-07 13:06] #82 closed

[2019-02-22 22:56] #81 closed

[2019-02-22 22:57] ghoneycutt opened #86 "Drop support for Puppet 4"
We should only support the latest two major releases of Puppet and drop support for Puppet 4.

[2019-02-22 23:00] ghoneycutt opened #87 "Drop support for unsupported platforms"
We currently support EOL platforms including EL 5 and Fedora. Suggest that we leave the metadata in place as well as the hiera data for those platforms, though no longer claim to support them. This should be documented in the README. Tests for those platforms should be removed from the code. The manifests should not `fail()` on unsupported platforms and instead use `warning()`.

[2019-02-24 19:58] #86 closed

[2019-02-24 21:51] #87 closed

[2019-03-08 07:20] mungo312 opened #90 "Support for Fedora 29"
Hi,
the module currently does not support Fedora 28 and 29. Since Fedora 28 authconfig is deprecated and authselect is used.
I can provide some of the support but my knowledge of spec tests is zero.

[2019-03-08 17:40] ghoneycutt commented on #90
I can help you with the spec tests if you can submit a PR.

[2019-04-05 11:13] bedenko opened #91 "support for ad access_provider"
When choosing
[code]
How do i define **ad_access_filter**?

[2019-04-07 00:40] ghoneycutt commented on #91
[code]

[2019-04-07 00:40] #91 closed

[2019-04-07 00:41] ghoneycutt commented on #90
Closing due to lack of response.

[2019-04-07 00:41] #90 closed

[2019-07-28 23:57] hawkeye-7 opened #94 "Version check in init.pp is incorrect"
Line 95 of init.pp is in error. It says "Amazon" when it should say "RedHat" .

As a consequence, Amazon would never work, and  RedHat allows version 5 through when it should not.

It would be nice though if the product worked with RedHat 8 as well.

[2019-08-08 11:05] hboetes opened #97 "cache_credentials always true"
Assuming this recipe:

[code]

credential caching is set to true, the configured value is simply ignored.

[2020-01-28 08:37] sgnl05 opened #102 "Looking for new project owner"
I'm afraid I no longer have the time to manage this project. There's also an issue with the Travis-CI integration which I just don't have the knowledge to fix.

If anyone would like to take it over please let me know. Maybe this project could/should be transferred to Vox Pupuli?

[2020-01-28 08:46] sgnl05 commented on #97
This module only generates a config for SSSD. How SSSD treats it is not within the scope of the module.

[2020-01-28 08:46] #97 closed

[2020-01-28 08:50] sgnl05 commented on #94
It's just to trigger a warning that you are using an unsupported platform. Warnings do not stop a puppet run. See https://puppet.com/docs/puppet/latest/function.html#warning for more details.

RedHat 8 support has been added today and will be uploaded to Puppet Forge later today

[2020-01-28 08:50] #94 closed

[2020-02-26 16:06] ybrock opened #104 "Mkhomedir issue on CentOS 8"
Hi,

I've found an issue with CentOS 8.
At line 299 of init.pp, you have to use another fact than $::facts['os']['name'] == 'Redhat'  to make it work on CentOS 8 :

      'RedHat': {
        if ($::facts['os']['name'] == 'Fedora' and versioncmp($::facts['os']['release']['major'], '28') >= 0) or
        ( $::facts['os']['name'] == 'Redhat' and versioncmp($::facts['os']['release']['major'], '8') >=

[2020-02-27 04:10] ghoneycutt commented on #104
Hi @ybrock Could you please submit a pull request.

[2020-02-27 10:04] #104 closed

[2020-02-27 10:04] ybrock commented on #104
My pull request was merge. We can close the issue.
Thanks for the merge

[2020-03-03 07:12] ghoneycutt commented on #102
Hi Gjermund, this is back on my radar. I'll keep it going as we discussed.

[2020-03-30 13:57] fyberoptik opened #108 "Setting Default Smart Parameter"
When trying to set a default value for the smart parameter **config**, there is a warning says that the pre-populated config is invalid (seen below). When it is saved as a string I can save the form, but the puppet agent complains that the `parameter 'config' expects a Hash value`. From my limited understanding of the hashed key-pairs, these look ok.

Am I missing something?

[code]

[2020-04-03 13:40] fyberoptik commented on #108
Newbie mistake, puppet hashes documentation was a bit confusing. When I searched 'foreman hash' I found my answer.

Selected hash as parameter type and then added the config in yaml format:

[code]

[2020-04-03 13:40] #108 closed

[2020-05-10 10:39] kmarcroft opened #109 "please update puppetlabs/stdlib dependency to < 7.0.0"
Hi,

please update the dependency for above from:
`"dependencies": [
    {"name":"puppetlabs/stdlib","version_requirement":">= 5.2.0 < 6.0.0"}
  ]`
to
`"dependencies": [
    {"name":"puppetlabs/stdlib","version_requirement":">= 5.2.0 < 7.0.0"}
  ]`

Thanks
Kristian

[2020-05-10 18:26] ghoneycutt commented on #109
Hi @kmarcroft Could you please send us a pull request? You can edit the file right in your browser.

https://github.com/sgnl05/sgnl05-sssd/edit/master/metadata.json

[2020-05-11 06:19] kmarcroft commented on #109
Hi @ghoneycutt,

I have created a PR #110

Thanks
Kristian

[2020-05-11 16:47] #109 closed

[2020-06-23 09:57] ndelic0 opened #111 "Order of"
Is there a reason for ensuring that sssd.conf is configured before  authconfig-mkhomedir Exec? [https://github.com/sgnl05/sgnl05-sssd/blob/master/manifests/init.pp#L238](url)

In the background authconfig utility will modify sssd.conf. Basically puppet will in next modify the contents of sssd.conf again. The way I see module should ensure that  sssd service must only run after the authconfig comma

[2020-07-29 18:56] zeekus opened #112 "How to get this to work with Centos8"
I was able to get this module to work with centos8.

The problem seems to be some Yaml files for Centos are missing.

create mode 100644 data/os/Centos/8.yaml

sssd::extra_packages:

'authselect'
'oddjob-mkhomedir'
sssd::manage_oddjobd: true

sssd::enable_mkhomedir_flags:

'enablemkhomedir'
sssd::disable_mkhomedir_flags: []

Prior to making this change, I saw this on Centos8.
[root@lpe2d ~]# puppe

[2020-09-23 21:58] vbinet opened #113 "Cannot install sgnl05-sssd with current puppetlabs-stdlib"
stdlib is at the version 6.4.0 and your dependencies require (>= 5.2.0 < 6.0.0).

# puppet module install --target-dir /etc/puppetlabs/code/modules/ sgnl05-sssd
Notice: Preparing to install into /etc/puppetlabs/code/modules ...
Notice: Downloading from https://forgeapi.puppet.com ...
Error: Could not install module 'sgnl05-sssd' (???)
  No version of 'sgnl05-sssd' can satisfy all dependencies

[2020-09-29 10:19] mat1010 commented on #113
@ghoneycutt Will there be an release of the latest, fixed version at some point?Thanks in advance.

[2020-10-01 15:36] frizop opened #114 "Questions about development against this module"
Howdy, I'm looking at this module and trying to figure out the best path forward. Currently this module sets all the required bits for SSSD and it's config, however we need some additional config set in the `/etc/pam.d/password-auth` file. As this module already runs an exec statement using authselect, would the maintainers also be amicable to supporting running the `/usr/bin/authselect apply-chan

[2020-10-01 15:38] frizop commented on #114
Also, hi @ghoneycutt been a few years!

[2020-11-13 20:18] evan-chaney commented on #112
This didn't work for me, adding an extra line to the conditional in init.pp checking for RHEL8/Fedora28 that grabbed CentOS8 did though. It's possible things changed since you opened this issue. I'm on 3.1.0 from Puppet-forge.

[2020-12-14 22:12] mikehurn commented on #112
To get it to work for me I had to crypto policies set to LEGACY
 update-crypto-policies --set LEGACY
With a reboot
I am working with an older AD server.

Then update the $::osfamily block.
First I changed 'Redhat' to 'CentOS' I did consider changing the == 'Redhat' to in ['RedHat', 'CentOS'
But that would give no overall benefit in my environment.
  case $::osfamily {
    'RedHat': {
      if ($::

[2021-03-14 13:01] yhil commented on #102
Hello Gjermund,

There has been no update for a year regarding this issue.

I'm using your module at work and it would be great to have a team behind it to create new releases, keep track on dependencies and add further development.

I would be happy to help to go through the process of migration into Vox Pupuli.

Many thanks, I wait for your reply !

[2021-05-17 13:13] zeekus commented on #112
I abandoned Centos8 and went back to Centos7 due to the fact Centos8 is EOL in Dec 2021.

[2021-05-17 13:13] #112 closed

[2021-07-08 20:33] wmoore28 commented on #114
Any further update to this?  We're currently having to mod user-nsswitch.conf and then `authselect apply-changes`.  Seems to be along the same lines as what you may be describing.

[2021-09-14 08:12] hdep commented on #102
Hello @sgnl05,

is there any chance to get this module moved to Vox Pupuli ?
I would like to add Debian 10 support.

thank you !

[2021-12-15 11:23] towo commented on #102
Hey @sgnl05, we can migrate this module to Vox Pupuli if you want; just ping me if you want to go forward with this. The only thing [we really need from you](https://voxpupuli.org/docs/migrate_module/) is to transfer the module after we give you migration permissions. :)

[2022-02-03 05:55] nvergottini opened #120 "Version 3.1.0 broken for Oracle Linux 8"
The released version of this module in Puppet Forge is broken for Oracle Linux 8. It appears it has been fixed in the master branch (#105 and #106). Can we expect a new version in Puppet Forge in the near future?

[2022-02-04 01:24] nvergottini commented on #120
I did confirm that pulling from the latest commit in master resolves the issue with Oracle Linux 8.

[2022-03-14 15:08] jcpunk commented on #102
Any news on migrating this module?

[2022-04-12 12:16] realvinx commented on #113
@ghoneycutt @sgnl05
Can you fix this on forge.puppet.com please, as it seems already fixed in https://github.com/sgnl05/sgnl05-sssd/pull/110 ?

[2022-09-28 19:23] arusso commented on #102
Hey @sgnl05, would you consider migrating this? We would like to use this module but in it's current state we don't want to rely on something no longer being maintained.